<button type="button" class="btn btn-primary btn-sm">
  <% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-sm" %>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-sm" %>
    <%= link_to "Create New User", new_user_registration_path, class: "btn btn-primary btn-sm" %>
  <% end %>
</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'user', collection: @users %>
  </tbody>
</table>
